sentence-transformers
langchain
flask
pypdf
python-dotenv
pinecone[grpc]==2.2.4
langchain-pinecone==0.2.3
langchain_community
langchain_openai
langchain_experimental
openai
huggingface_hub
pinecone-client==2.2.4
gunicorn
-e .