sentence-transformers
langchain
flask==2.1.0
pypdf
python-dotenv
pinecone-client[grpc]==3.2.2
langchain-pinecone==0.1.0
langchain_community
langchain_openai
langchain_experimental
openai
huggingface_hub
gunicorn
flask_cors
bs4
google-search-results
requests
flask-RESTful
pytest==7.3.1
werkzeug==2.3.7
-e .